
    body {
      scroll-behavior: smooth;
    }
    #contaier{
        text-align: center;
    }
    .me {
        background-color: #0D1117;
        margin: 20px;
  	    color: #f8f9fa;
  }
   .profile-img {
        border-radius: 50%;
       	width:200px
   }
#col-md {
        margin: 10px;
}
#col-md-8 {
        margin: 10px;
}
