
    body {
      scroll-behavior: smooth;
    }
    .hero {
      background-color: #0d6efd;
      color: white;
      padding: 80px 0;
      text-align: center;
    }
    .hero h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    .hero p {
      font-size: 1.2rem;
    }
    .section-title {
      margin-top: 40px;
      margin-bottom: 20px;
      text-align: center;
    }
    .project-card {
      transition: transform 0.3s;
    }
    .project-card:hover {
      transform: scale(1.05);
    }
    footer {
      background-color: #f8f9fa;
      padding: 20px 0;
      text-align: center;
    }
    .me {
    background-color: #0D1117;
  	text-align: center;
    color: #f8f9fa;
  }
   .profile-img {
    border-radius: 50%;
   	width:200px
   }
#col-md {
    margin: 10px;
}
