
    body {
      scroll-behavior: smooth;
      background: #0D1117;
    }
    #contaier{
        text-align: center;
    }
    .me {
        margin: 20px;
  	    color: #f8f9fa;
  }
   .profile-img {
        border-radius: 50%;
       	width:200px
   }
#col-md-4{
        margin-top: 100px;
        padding-right: 50px;
        text-align: center;
}
#col-md-8 {
        margin: 20px;
}
.aling{
    text-align: left;
}
